@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&family=Tenor+Sans&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Tenor Sans', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    height: 150px;
    width: 100%;
}


.logo {
    height: 150px;
}

.home {
    text-decoration: none;
}

.product-card {
    margin: 2.5em 3em;
    width: 15em;
    height: 337px;
    border: 1px solid black;
    border-radius: 10px;
 }


.product-card .inverno1 {
    background-image: url("./images/inverno1.jpg"); 
}

.product-card .inverno2 {
    background-image: url("./images/inverno2.jpg"); 
}

.product-card .inverno3 {
    background-image: url("./images/inverno3.jpg");
}

.product-card .inverno1,
.product-card .inverno2,
.product-card .inverno3 {
  background-position: center;
  height: 20em;
  transition: 0.2s; 
}

.product-card .product-details {
    margin-top: 20px;
    display: flex;
    width: 20em;
}

.more-details-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.sectionInverno {
    height: 500px;
}


h4 {
    font-size: 1em;
}

header ul {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 20px;
    list-style-type: none;
}

li {
    list-style-type: none;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: #000000;
    color: #ffffff;
}

footer div {
    font-size: .8rem;

}